<div class="chatBox">
  <div class="chatHeading">
    <div>
      Global Chat
    </div>
    <span style="margin: 10px; float:right;">Total Online: <%= totalOnline %> </span>
  </div>
  <div id="messages">
    <% messages.forEach(function(message){ %>
      <% if(message!=''){ %>
      <div class="message <%= (userName==message.userName)?'me':'otherPerson' %>">
        <div class="messageUserName">
          <%= message.userName + ': ' %>
        </div>
        <%= message.message %>
      </div>
      <% } %>
    <% }) %>
  </div>
  <form method="POST" action="/sendMessage" name="chatForm" id="sendMessageForm">
    <input type="text" name="userName" value="<%= userName %>">
    <input type="text" name="msg" id="mainBox" placeholder="Type your message">
    <button type="submit" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
  </form>
</div>
